<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <title>DUT Test Result</title>
</head>
<style>
    td {
        text-align: center;
        width: 15px;
        height: 15px;
    }

    th {
        height: 15px;
        text-align: center;
    }
</style>
<body>


<div class="container">
    <div class="caption" id="dut1">20170101_FFtest_dut1_22300330</div>

    <!--<table class="table detials table-bordered table-hover" border="2" cellpadding="30">-->
    <!--<tr>-->
    <!--<th style="text-align: center; width: 16% " colspan="2" >9ft/90°</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">1-5</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">6-10</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">11-15</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">16-20</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">21-25</th>-->
    <!--<th colspan="5" style="text-align: center;width: 14%">26-30</th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td rowspan="2" style="text-align: center;vertical-align: middle">Seilence </td>-->
    <!--<td> FRR</td>-->
    <!--<td >1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>RAR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td rowspan="2" style="text-align: center;vertical-align: middle">Kitchen</td><td> FRR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>RAR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td rowspan="2" style="text-align: center;vertical-align: middle">Loptop Music</td><td> FRR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>RAR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td rowspan="2" style="text-align: center;vertical-align: middle">Device Playback</td><td> FRR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>RAR</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>-->
    <!--</tr>-->

    <!--</table>-->
</div>


</body>


<script src="/javascripts/jquery.min.js"></script>

<script>

    let data_ = {
        "silence": [
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 0},
            {"FRR": 1, "FAR": 1},
            {"FRR": 0, "FAR": 0},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 0},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1}
        ], "kitchen": [
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 0},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 0, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1},
            {"FRR": 1, "FAR": 1}
        ]
    };


    $(document).ready(function () {




        console.log(JSON.stringify(data_));
//        $('#table_container').append(table_);
//        $('#table_container').append(table_);  $('#table_container').append(table_);  $('#table_container').append(table_);  $('#table_container').append(table_);



        createTable(3, data_);
    });

    //1: 90_9   2: 90_3    3: 30_3

    function createTable(position, data) {
        let positionName;
        let positionId;


        switch (position) {
            case 1:
                positionName = "9ft/90°";
                positionId = "position_90_9";
                break;
            case 2:
                positionName = "3ft/90°";
                positionId = "position_90_3";
                break;
            case 3:
                positionName = "3ft/30°";
                positionId = "position_30_3";
                break;
        }
        let table_ = "<table  class='table detials table-bordered table-hover' border='2' cellpadding='30' id=" + positionId + "> <tr> <th style='text-align: center; width: 16% ' colspan='2' >" + positionName + "</th> <th colspan='5' style='text-align: center;width: 14%'>1-5</th> <th colspan='5' style='text-align: center;width: 14%'>6-10</th> <th colspan='5' style='text-align: center;width: 14%'>11-15</th> <th colspan='5' style='text-align: center;width: 14%'>16-20</th> <th colspan='5' style='text-align: center;width: 14%'>21-25</th> <th colspan='5' style='text-align: center;width: 14%'>26-30</th> </tr></table>";


        $('.container').append(table_);

        let sense;


        if (data.silence != null) {
            sense = "Silence";
            createSense(positionId, sense, data.silence);
        }

        if (data.kitchen!=null){
            sense = "Kitchen";
            createSense(positionId, sense, data.kitchen);
        }
    }

    function createSense(positionId, sense, data__) {


        let col_FRR = "<tr id=" + positionId + "_" + sense + "_FRR> <td rowspan='2' style='text-align: center;vertical-align: middle'>" + sense + " </td><td> FRR</td>  </tr>";
        let col_FAR = "<tr id=" + positionId + "_" + sense + "_FAR> <td>FAR</td>   </tr>";

        $('#' + positionId).append(col_FRR).append(col_FAR);


        $.each(data__, function (index, value) {
            let item = "<td id="+positionId+"_"+sense+"_FRR_"+index+">"+value.FRR+"</td>"
            $('#' + positionId+"_"+sense+"_FRR").append(item)

        });

        $.each(data__, function (index, value) {
            let item = "<td id="+positionId+"_"+sense+"_FAR_"+index+">"+value.FAR+"</td>"
            $('#' + positionId+"_"+sense+"_FAR").append(item)

        });


    }


</script>
</html>