<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage | Sugr Auto Test</title>
    <style>
        html {
            background-color: #FFFFFF
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <div class="pagename">Sugr FarField Auto Test Tool</div>

    <div class="config1">
        <div id="AN">Ambient noise:&#160;&#160;<input type="text" id="ambientnoise"></div>
        <br/>
        <div id="SILENCE">Silence SPL:&#160;&#160;<input type="text" id="silenceSPL"></div>
        <br/>
        <div id="NOISE">Noise SPL:&#160;&#160;<input type="text" id="noiseSPL"></div>

    </div>
    <div class="config2">
        <div id="EXTERNAL">External Music:&#160;&#160;<input type="text" id="externalSPL"></div>
        <br/>
        <div id="KITCHEN">Kitchen Noise:&#160;&#160;<input type="text" id="kitchenSPL"></div>
        <br/>
        <div id="PLAYBACK">Device Playback:&#160;&#160;<input type="text" id="playbackSPL"></div>
    </div>
    <div class="config3">
        <div id="TOTAL_TIMES">Total times:&#160;&#160;<input type="text" id="totaltimes">&#160</div>
        <br/>
        <div id="PLAY_INTERVAL">Playback interval:&#160;&#160;<input type="text" id="interval">&#160</div>

        <button class="startbutton" onclick="startTest()">Start</button>
        <div> NAME:&#160;&#160;<input type="text" id="name">&#160 </div>
    </div>

    <div class="lando">
        <div class="list">
            <div id="list">List(Recent 10 test)：</div>
            <br/>
            <ul id="listitem" type="disc">
                <li><a class="list1" href="http://www.baidu.com">20170101FFtest</a></li>
                <br/>
                <li><a class="list1" href="http://www.baidu.com" target="_blank">20170102FFtest</a></li>
                <br/>
                <li><a class="list1" href="http://www.baidu.com" target="_blank">20170103FFtest</a></li>
                <br/>
                <li>20170104FFtest</li>
                <br/>
                <li>20170105FFtest</li>
                <br/>
                <li>20170106FFtest</li>
                <br/>
                <li>20170107FFtest</li>
                <br/>
                <li>20170108FFtest</li>
                <br/>
                <li>20170109FFtest</li>
                <br/>
                <li>20170110FFtest</li>

            </ul>
            <button class="morebutton">More</button>
        </div>
        <div class="onlinedevice1">
            <div class="positions">Positions</div>
            <div class="rb1" id="nss_30_3_container">
                <div class="rb11" id="sc1">
                    <span class="span1">3ft&#160;/&#160;30°</span><br/>
                    <input type="checkbox" id="nss_30_3_cb">
                </div>
            </div>
            <div class="rb1" id="nss_90_3_container">
                <div class="rb11" id="sc2">
                    <span class="span1">3ft&#160;/&#160;90°</span><br/>
                    <input type="checkbox" id="nss_90_3_cb">
                </div>
            </div>
            <div class="rb1" id="nss_90_9_container">
                <div class="rb11" id="sc3">
                    <span class="span1">9ft&#160;/&#160;90°</span><br/>
                    <input type="checkbox" id="nss_90_9_cb">
                </div>
            </div>

        </div>
        <div class="onlinedevice2">
            <div class="scenarios">Scenarios</div>
            <div class="rb2" id="silence_container">
                <div class="rb11">
                    <span class="span1">Silence</span><br/>
                    <input type="checkbox" id="silence_cb" checked>
                </div>
            </div>
            <div class="rb2" id="kitchen_container">
                <div class="rb11">
                    <span class="span1">Kitchen</span><br/>
                    <input type="checkbox" id="kitchen_cb">
                </div>
            </div>
            <div class="rb2" id="music_container">
                <div class="rb11">
                    <span class="span1">Laptop Music</span><br/>
                    <input type="checkbox" id="music_cb">
                </div>
            </div>
            <div class="rb2" id="playback_container">
                <div class="rb11">
                    <span class="span1">Playback</span><br/>
                    <input type="checkbox" id="playback_cb">
                </div>
            </div>
        </div>
        <div class="onlinedevice3" style="">
            <!--<div class="dut0">-->
                <!--<div class="dut00">-->
                    <!--<span class="span2">DUT1</span><br/>-->

                    <!--<input type="checkbox" checked>-->
                <!--</div>-->
            <!--</div>-->




            <!--<div class="dut1">-->
            <!--<div class="dut11">-->
            <!--<span class="span2">DUT2</span><br/>-->

            <!--<select id="position">-->
            <!--<option value="1">Silence</option>-->
            <!--<option value="2">Kitchen</option>-->
            <!--<option value="3">Device</option>-->
            <!--<option value="3">Exteral Music</option>-->
            <!--</select><br/>-->
            <!--<select id="position">-->
            <!--<option value="1">3ft/30°</option>-->
            <!--<option value="2">3ft/90°</option>-->
            <!--<option value="3">9ft/90°</option>-->
            <!--</select><br/>-->
            <!--<input type="checkbox" id="dut_1" checked>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="dut1">-->
            <!--<div class="dut11">-->
            <!--<span class="span2">DUT3</span><br/>-->

            <!--<select id="position">-->
            <!--<option value="1">Silence</option>-->
            <!--<option value="2">Kitchen</option>-->
            <!--<option value="3">Device</option>-->
            <!--<option value="3">Exteral Music</option>-->
            <!--</select><br/>-->
            <!--<select id="position">-->
            <!--<option value="1">3ft/30°</option>-->
            <!--<option value="2">3ft/90°</option>-->
            <!--<option value="3">9ft/90°</option>-->
            <!--</select><br/>-->
            <!--<input type="checkbox" id="dut_1" checked>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="dut1">-->
            <!--<div class="dut11">-->
            <!--<span class="span2">DUT4</span><br/>-->

            <!--<select id="position">-->
            <!--<option value="1">Silence</option>-->
            <!--<option value="2">Kitchen</option>-->
            <!--<option value="3">Device</option>-->
            <!--<option value="3">Exteral Music</option>-->
            <!--</select><br/>-->
            <!--<select id="position">-->
            <!--<option value="1">3ft/30°</option>-->
            <!--<option value="2">3ft/90°</option>-->
            <!--<option value="3">9ft/90°</option>-->
            <!--</select><br/>-->
            <!--<input type="checkbox" id="dut_1" checked>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="dut1">-->
            <!--<div class="dut11">-->
            <!--<span class="span2">DUT5</span><br/>-->

            <!--<select id="position">-->
            <!--<option value="1">Silence</option>-->
            <!--<option value="2">Kitchen</option>-->
            <!--<option value="3">Device</option>-->
            <!--<option value="3">Exteral Music</option>-->
            <!--</select><br/>-->
            <!--<select id="position">-->
            <!--<option value="1">3ft/30°</option>-->
            <!--<option value="2">3ft/90°</option>-->
            <!--<option value="3">9ft/90°</option>-->
            <!--</select><br/>-->
            <!--<input type="checkbox" id="dut_1" checked>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <!--<div class="onlinedevice3" style="display: none">-->
        <!--<div class="dut0">-->
        <!--<div class="dut00">-->
        <!--<span class="span2">DUT6</span><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">Silence</option>-->
        <!--<option value="2">Kitchen</option>-->
        <!--<option value="3">Device</option>-->
        <!--<option value="3">Exteral Music</option>-->
        <!--</select><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">3ft/30°</option>-->
        <!--<option value="2">3ft/90°</option>-->
        <!--<option value="3">9ft/90°</option>-->
        <!--</select><br/>-->
        <!--<input type="checkbox" id="dut_1" checked>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="dut1">-->
        <!--<div class="dut11">-->
        <!--<span class="span2">DUT7</span><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">Silence</option>-->
        <!--<option value="2">Kitchen</option>-->
        <!--<option value="3">Device</option>-->
        <!--<option value="3">Exteral Music</option>-->
        <!--</select><br/>-->
        <!--<select id="position">-->
        <!--<option value="1">3ft/30°</option>-->
        <!--<option value="2">3ft/90°</option>-->
        <!--<option value="3">9ft/90°</option>-->
        <!--</select><br/>-->
        <!--<input type="checkbox" id="dut_1" checked>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="dut1">-->
        <!--<div class="dut11">-->
        <!--<span class="span2">DUT8</span><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">Silence</option>-->
        <!--<option value="2">Kitchen</option>-->
        <!--<option value="3">Device</option>-->
        <!--<option value="3">Exteral Music</option>-->
        <!--</select><br/>-->
        <!--<select id="position">-->
        <!--<option value="1">3ft/30°</option>-->
        <!--<option value="2">3ft/90°</option>-->
        <!--<option value="3">9ft/90°</option>-->
        <!--</select><br/>-->
        <!--<input type="checkbox" id="dut_1" checked>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="dut1">-->
        <!--<div class="dut11">-->
        <!--<span class="span2">DUT9</span><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">Silence</option>-->
        <!--<option value="2">Kitchen</option>-->
        <!--<option value="3">Device</option>-->
        <!--<option value="3">Exteral Music</option>-->
        <!--</select><br/>-->
        <!--<select id="position">-->
        <!--<option value="1">3ft/30°</option>-->
        <!--<option value="2">3ft/90°</option>-->
        <!--<option value="3">9ft/90°</option>-->
        <!--</select><br/>-->
        <!--<input type="checkbox" id="dut_1" checked>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="dut1">-->
        <!--<div class="dut11">-->
        <!--<span class="span2">DUT10</span><br/>-->

        <!--<select id="position">-->
        <!--<option value="1">Silence</option>-->
        <!--<option value="2">Kitchen</option>-->
        <!--<option value="3">Device</option>-->
        <!--<option value="3">Exteral Music</option>-->
        <!--</select><br/>-->
        <!--<select id="position">-->
        <!--<option value="1">3ft/30°</option>-->
        <!--<option value="2">3ft/90°</option>-->
        <!--<option value="3">9ft/90°</option>-->
        <!--</select><br/>-->
        <!--<input type="checkbox" id="dut_1" checked>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


    </div>
</div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/common.js?201801122323"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/index.js?201801201824"></script>

</html>