<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login Page | Sugr Auto Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/stylesheets/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>Sugr Auto Test</h1>

    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">


        <br>
        <br>

        <form method="post" class="am-form">
            <label for="username">账号:</label>
            <input type="text" name="" id="username" value="">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="" id="password" value="">
            <br/>
            <div class="am-cf">
                <input  type="submit" name="" value="登 录" onclick="login()" class="am-btn am-btn-primary am-btn-sm am-fl">

            </div>
        </form>
        <hr>
        <!--<p>© 2018 AllMobilize, Inc. Licensed under MIT license.</p>-->
    </div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/common.js?201801122323" ></script>
<script src="/javascripts/jquery.min.js"></script>
<script>

    $(document).ready(function () {


        socket = io.connect(satCommon.socketAddress);
        socket.emit("message","dddddd","hahahah");
        socket.on("message", function(obj) {
            console.log(obj);
        });

        socket.on("register",function(obj){
            console.log("web receiver: "+ obj);
        });
    });


    function login() {
        var username = $('#username').val();
        var password = $('#password').val();

        console.log(username,password);
    }


</script>

</html>
